<div
  style="min-height: 100vh; width: fit-content"
  class="bg-success text-light p-2 d-flex flex-column text-center"
>
  <h5 class="mb-5 text-warning border rounded p-4 shadow">
    <i class="fa-solid fa-graduation-cap"></i> Cookpedia Admin
  </h5>
  <a routerLink="/admin" class="text-decoration-none text-light fw-bolder mb-4"
    ><i class="fa-solid fa-chart-simple me-2"></i>Dashboard</a
  >
  <a
    routerLink="/admin/download-lsit"
    class="text-decoration-none text-light fw-bolder mb-4"
    ><div class="fa-solid fa-download me-2"></div>
    Download Lsit</a
  >
  <a
    routerLink="/admin/user-lsit"
    class="text-decoration-none text-light fw-bolder mb-4"
    ><div class="fa-solid fa-users me-2"></div>
    Users List</a
  >
  <a
    routerLink="/admin/recipe-lsit"
    class="text-decoration-none text-light fw-bolder mb-4"
    ><div class="fa-solid fa-bowl-food me-2"></div>
    Recipe List</a
  >
  <a
    routerLink="/admin/request-lsit"
    class="text-decoration-none text-light fw-bolder mb-4"
    ><div class="fa-solid fa-message me-2"></div>
    Request Lsit</a
  >
  <a routerLink="" class="text-decoration-none text-light fw-bolder mb-4"
    ><div class="fa-solid fa-"></div
  ></a>
</div>
