<app-header></app-header>
<div class="container">
  <div style="height: 400px" class="row">
    <div
      class="col-lg-6 bg-success d-flex justify-content-center align-items-center"
    >
      <img
        width="450px"
        height="auto"
        src="https://www.pngkit.com/png/full/259-2595320_following-basket-of-vegetables-clipart.png"
        alt=""
      />
    </div>
    <div class="col-lg-6 d-flex justify-content-center flex-column">
      <h1>Welcome to Cookepedia</h1>
      <p>
        Discover 100+ recipes in your hand with the best recipe. <br />
        Help you to find the easiest way to cook.
      </p>
    </div>
  </div>
  <div style="height: 500px" class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4 pt-5">
      <h1 class="fw-bolder">About us</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, vel
        explicabo sit iste vero minima necessitatibus pariatur praesentium
        facilis quis eum incidunt quos rem omnis maiores 
      </p>
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
      </ul>
      <button class="btn btn-success">Know More About Us</button>
    </div>
    <div class="col-lg-6 d-flex justify-content-center align-items-center">
      <img
        height="400px"
        src="https://purepng.com/public/uploads/large/purepng.com-chefcheftrained-professional-cookfood-preparationkitchenchefsexperienced-1421526718958rc6kx.png"
        alt=""
      />
    </div>
  </div>
</div>
<app-footer></app-footer>
