@import '../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

h1{
    font-family: "Playwrite GB S", serif;
}